{% extends 'base_contact.html.twig' %}
{% block title %}Proweb Artois : {% trans %}Register{% endtrans %}{% endblock %}
{% block navbar %}{% include('common/navbar.html.twig') %}{% endblock %}
{% block breadcrumb %}{% endblock %}
{% block googleMap %}{% endblock %}
{% block sidebar %}{% endblock %}


{% block body %}
 <article class="col-xs-12 maincontent">
    <header class="page-header">
        <h1 class="page-title">{% trans %}Confirmation of the contact request {% endtrans %}</h1>
    </header>
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-default">
            <div class="panel-body">
               <p>{% trans %}Your request has been registered{% endtrans %}</p>
               <p></p>
               <p><a href="{{path('app_home')}}">{% trans %}Home{% endtrans %}</a></p>
            </div>
        </div>
	</div>
</article>
{% endblock %}
