{% extends 'base_mail.html.twig' %}


{% block body %}
<div style="padding: 20px">
<p>Bonjour {{ user.firstname | upper }} {{ user.lastname | upper }}</p>

<p>Veuillez confirmer votre adresse e-mail en cliquant sur le lien suivant: <br><br>
<a href="{{ signedUrl|raw }}">Confirmer mon email</a>.
Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}</p>
<p>Bien cordialement,</p>
<p>Guy Vandencruche<br>
Gérant Proweb Artois</p>
{% endblock %}
{% block footer %}
<footer style="padding:20px">
	<div style="text-align:center">PROWEB ARTOIS SARL - RCS. ARRAS 530 608 835 N° de Gestion 2011 B 273</div>
</footer>
{% endblock %}
