<aside class="col-sm-3 sidebar sidebar-right">

				<div class="widget">
					<h4>Proweb Artois</h4>
					<address>
					<p>Proweb Artois est une entreprise qui existe depuis le 28/02/2011.</p>
					<p>Son activité : Conseil en systèmes informatiques, prestation informatique en régie ou forfait,
réalisation et édition de logiciels informatiques en ingénierie informatique.</p>
					<p>J'accompagne depuis 10 ans mes clients dans leurs besoins spécifiques liés au développement de
leur application Web, intranet et e-commerce, également dans des projets de refonte ou migration
technologique.</p>
					</address>
					<h4>Téléphone:</h4>
					<address>
						06 34 25 74 65
					</address>
				</div>

			</aside>
