{% extends 'base.html.twig' %}

{% block title %}Edit TypeMedias{% endblock %}

{% block body %}
    <h1>Edit TypeMedias</h1>

    {{ include('admin/type_medias/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('type_medias_index') }}">back to list</a>

    {{ include('admin/type_medias/_delete_form.html.twig') }}
{% endblock %}
