{% extends 'base.html.twig' %}

{% block title %}New TypeMedias{% endblock %}

{% block body %}
    <h1>Create new TypeMedias</h1>

    {{ include('admin/type_medias/_form.html.twig') }}

    <a href="{{ path('type_medias_index') }}">back to list</a>
{% endblock %}
