{% extends 'base_mail.html.twig' %}

{% block title %}New Contact{% endblock %}
{% block breadcrumb %}{% endblock %}
{% block googleMap %}{% endblock %}


{% block body %}



<img src="cid:logo" width="300" border="0" alt="logo_du_louvre">

<p>
    Coucou <br><br>
   
</p>

<p>
    Cheers!
</p>

{% endblock %}
